<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title"><%= display_db_phone_number(@employee.phone_number) %></h3>
        </div>
        <%= form_for @employee, url: employee_path(@employee), method: :put do |f| %>
          <div class="card-body">
            <div class="form-group">
              <%= f.label :password, "Пароль"%>
              <%= f.password_field :password, label: false, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Повторите пароль" %>
              <%= f.password_field :password_confirmation, label: false, class: 'form-control' %>
            </div>
          </div>
          <div class="card-footer">
            <%= f.submit "Изменить", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
