<tr>
  <td><%= client.id %></td>
  <td><%= client.name %> <%= client.last_name %></td>
  <td><%= sanitize_db_phone_number(client.phone_number) %></td>
  <td><%= client.email %></td>
  <td><%= render 'action', client: client %></td>
</tr>
