<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Изменить пароль</h3>
        </div>
        <%= form_for @client do |f| %>
          <div class="card-body">
            <div class="form-group">
              <%= f.label :password, "Пароль"%>
              <%= f.password_field :password, required: false, autofocus: true, label: false, class: 'form-control' , placeholder:"Введите пароль" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Подтверждение пароля"%>
              <%= f.password_field :password_confirmation, required: false, autofocus: true, label: false, class: 'form-control' , placeholder:"Введите пароль" %>
            </div>
          </div>

          <div class="card-footer">
            <%= f.submit 'Обновить', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>