<ol class="breadcrumb">
  <li class="breadcrumb-item active"><i class="fa fa-list"></i> Заказы</li>
</ol>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center font-weight-bold">Список заказов:</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <%= form_for_filter IndividualOrder %>
        <table class="table table-condensed">
          <tr>
            <th width="170">ID Заказа <%= sort_link(IndividualOrder, :id) %></th>
            <th>Тип</th>
            <th width="150">Имя <%= sort_link(IndividualOrder, :name) %></th>
            <th width="150">Фамилия <%= sort_link(IndividualOrder, :last_name) %></th>
            <th>Номер телефона</th>
            <th>Email</th>
            <th>Статус</th>
            <th width="200">Дата создания <%= sort_link(IndividualOrder, :created_at) %></th>
            <th width="220">Дата изменения <%= sort_link(IndividualOrder, :updated_at) %></th>
          </tr>
					<%= render @individual_orders %>
        </table>
      </div>
    </div>
  </div>
</div>
