<!DOCTYPE html>
<html>
<head>
  <title>ЗТТА ERP</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
		 <!-- Main content -->
    <section class="content pt-5" style="height: 100vh; background: #f4f6f9">
      <% if alert.present? %>
    	<div class="alert alert-danger alert-dismissible col-md-4 offset-md-4">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fa fa-ban"></i> <%= alert %></h5>
      </div>
		  <% end %>
		<%= yield %>
		</section>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->
<!-- Bootstrap 4 -->
<%= javascript_include_tag "/adminLTE/bootstrap/js/bootstrap.bundle.min.js" %>
</body>
</html>
